html, body {
	height: 100%;
}

body {
	background: url(../images/hip-square.png);
	position: relative;
	box-sizing: border-box;	
}

header {
	padding: 0;
	margin: 0;
	color: #333;
	height: 90px;
	border-bottom: 3px solid grey;
	background-color: #ffffff;
	font-family:'Georgia', Times, "Times New Roman", serif;
}

h1 {
	font-size: 32px;
}

h2 { 
   position: absolute; 
   top: 115px;
}

h2 span { 
   color: white; 
   font-size: 20px; 
   background: rgb(74, 170, 165);
   padding: 10px; 
   width: 100%;
}

h3 {
	font-size: 24px;
}

label {
	font-size: 18px; 
}

input {
	margin: 10px 0 10px 0;
	height: 25px;
	width: 100%;
}

textarea {
	height: 150px;
	width: 100%;
	margin: 10px 30px 5px 0;
}

#nametag {
	float: left;
	color: white;
	background: #4aaaa5;
	height: 65.5px;
	padding: 12px;
	margin: 0 0 0 50px;
	display: flex;
	align-items: center;
}

.link-border-right {
	border-right: 1px solid grey;
}

.head-link-right, .link-border-right {
	float: right;
	padding: 25px;
	color: grey;
	background: white;
	font-size: 18px;
	height: 39.5px;
	display: flex;
	align-items: center;
}

.main-box {
	float: left;
	width: 600px;
	border: 2px solid #dddddd;
	color: grey;
	background: white;
	padding: 25px;
	margin: 20px 20px 20px 50px;
	font-size: 18px;
}

.title-left {
	color: #4aaaa5;
}

.side-box {
	float: left;
	width: 230px;
	border: 2px solid #dddddd;
	color: grey;
	background: white;
	padding: 20px;
	margin: 20px;
}

.floating-box {
	display: flex;
	justify-content: space-around;
}

#DCG {
	float: left;
	margin: 0 8px 8px 0;
}

.port-pic {
	position: relative;
	margin: 35px 35px 35px 45px;
	height: 155px;
	width: 200px;
	display: inline-block;
}

.page-wrap {
 	min-height: 100%;
	margin-bottom: -90px; 
}
.page-wrap:after {
  content: "";
  display: block;
  height: 90px; 
}

.site-footer {
	height: 46px;
	padding-top: 40px;
	text-align: center;
	color: grey;
	background: black;
	border-top: 4px solid #4aaaa5;
}

